 /* Declarations through out web page elemets */ 

body {
  font-family: 'Raleway', sans-serif;
  background-color: #EFEFEF; 
  box-sizing: border-box;
  height: 100vh;
}

/* Styling for web page's header*/

.site-header {
  background-color: #000000;
  font-weight: 400; 
  height: 150px;
  display: flex;
  justify-content: space-between;
}

menu {
  display:flex;
  flex-direction: row; 
  margin-top: 5rem; 
}

.menu-icons {
  height: 1rem;
  width: 2rem;
  margin-right: 10px; 
}

.menu-icons:hover {
  height: 2rem;
  width: 2rem;
  transition: 0.5s; 
}

li {
  list-style: none;
  color: #828282; 
  font-size: 18px; 
  font-weight: 400; 
  margin-right: 2rem;
  cursor: pointer; 
}

.shares {
  color: #ffffff;
}

.admin-container {
  display: inline-flex;
  flex-direction: row; 
  margin-right: 1rem; 
  cursor: pointer; 
}

.admin-link {
  font-size: 14px; 
  font-weight: 400;  
  color: #828282;
}

.admin-icons {
  height: 1rem;
  width: 2rem;
  margin-top: 15px; 
}

.admin-icons:hover {
  height: 2rem;
  width: 3.5rem;
  transition: 0.5s; 
}

.logo-container {
  display: flex; 
  flex-direction: column;
}

.site-logo {
  height: 6rem; 
  width: 6rem;
  margin-left: 3rem;
  margin-bottom: 1rem; 
}

.site-logo:hover {
  height: 8rem;
  width: 8rem;
  transition: 0.5s; 
}

/* Styling for web page's main content */

h1 {
  color: #4D4D4D; 
  font-size: 20px; 
  font-weight: 600;
  margin-left: 20px; 
}

article {
  box-shadow: 3px 4px #cccccc;
}

article:hover {
  cursor: pointer;
  -webkit-transform: rotateY(45deg);
  transition: 0.5s;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px; 
  margin: 1rem;
}

/* Header portion of profile box */

.profile-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-color: #25d16a; 
  color: #ffffff;
}

.share-icon {
  height: 3rem; 
  width: 3rem;
  margin-top: 10px; 
  margin-left: 8px; 
}

.share-icon:hover {
  height: 6rem;
  width: 6rem;
  transition: 0.5s;
}

.month-day {
  margin-right: 8px;
}

.show-month {
  font-size: 16px; 
  font-weight: 400; 
  color: #C21734;
  margin-bottom: 0; 
}

.show-date {
  font-size: 2rem; 
  font-weight: 400;
  color: #C21734; 
  margin: 0;
}

.profile-content {
  background-color: #ffffff; 
  padding: 10px; 
}

.profile-image1 {
  background-image: url("images/Dave-Chappelle.jpg");
  background-size: cover;
}

.profile-image2 {
  background-image: url("images/silverman.jpg");
  background-size: cover;}

.profile-image3 {
  background-image: url("images/jerrod.jpg");
  background-size: cover;
}

.profile-image4 {
  background-image: url("images/bill-burr.jpg");
  background-size: cover;
}

.profile-image5 {
  background-image: url("images/wanda.jpg");
  background-size: cover;
}

.profile-image6 {
  background-image: url("images/hannibal.jpg");
  background-size: cover;
}

.profile-image7 {
  background-image: url("images/kevin-hart.jpg");
  background-size: cover;
}

.profile-image8 {
  background-image: url("images/chris-rock.png");
  background-size: cover;
}

/* Profile information */

section {
  display: flex; 
  flex-direction: column; 
  background-color: #ffffff; 
}

.performer {
  font-size: 18px; 
  margin-bottom: 0;
}

.performance-date-time {
  font-size: 14px; 
  font-weight: 100; 
  margin-bottom: 20px;
  margin-top: 0; 
}

.performer-link {
  height: 2rem; 
  width: 100%;
  margin: 5px auto;
}

.url { 
  color: #919191;
  background-color: #EFEFEF;
  cursor: pointer; 
  font-size: 12px;
  word-wrap: break-word;
  text-decoration: none; 
  padding: 1rem; 
}

.playlist { 
  margin-bottom: 0;
  margin-top: 25px;  
}

.specials {
  margin-top: 0; 
}

.total-specials {
  margin-bottom: 0;
}

.specials-count {
  margin: 0; 
  font-weight: 400;
  font-size: 2rem;  
}

/* Media Queries */

@media screen and (max-width: 1259px){
 .site-logo {
  margin-left: 2.5rem;
  margin-bottom: 0.5rem; 
  }

  .profile-header {
    height: 175px; 
  }
}

@media screen and (max-width: 950px) {
  .site-header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 175px;
  }

  .admin-icons {
    margin-top: 0; 
  }

  .admin-link {
    margin: 0;
  }

  .site-logo {
    margin-top: 0.5rem; 
    margin-bottom: 0; 
  }

  menu {
  display:flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 1rem; 
}

 .profile-header {
    height: 200px; 
  }
}

@media screen and (max-width: 745px) {
  main { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px; 
    margin: 1rem;
  }
}

@media screen and (max-width: 525px) {
  menu {
    margin-top: 1rem;
  }

  .profile-header {
    height: 225px; 
  }

  .site-logo {
    height: 5rem; 
    width: 5rem; 
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;  
  }

  .admin-container {
    margin-right: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-right: 1rem;
    text-rendering: hidden; 
    font-size: 14px;    
  }

  .menu-icons {
    margin-right: 8px;
  }
}

@media screen and (max-width: 320px) {
  .site-logo {
    margin-left: 3rem;
  }
}