/* Declarations through out web page elemets */ 
body {
  font-family: 'Raleway', sans-serif;
  background-color: #EFEFEF; 
  box-sizing: border-box;
  height: 100vh;
}

/* Styling for web page's header*/
header {
  background-color: #000000;
  font-weight: 400; 
  height: 150px;
  display: flex;
  justify-content: space-between;
}

menu {
    display: flex; 
    margin: 7rem 1rem 2rem 1.25rem;
    /*flex-direction: row;
    margin-top: 20px;*/ 
}

.menu-icons {
  height: 1rem;
  width: 2rem;
  margin-right: 10px; 
}

li {
  list-style: none;
  color: #828282; 
  font-size: 18px; 
  font-weight: 400; 
  margin-right: 2rem;
}

.shares {
  color: #ffffff;
}

.admin-container {
  display: flex; 
  flex-direction: row; 
  align-content: end;   
}

.admin-link {
  font-size: 14px; 
  font-weight: 400;  
  color: #828282;
}

.admin-icons {
  height: 1rem;
  width: 2rem;
  margin-top: 15px; 
}

/*.logo-container {
  background-color: #000000;
}*/

/*.site-logo {
  height: 2rem; 
  width: 2rem;
  background-color: #000000;
}*/

/* Styling for web page's main content */
h1 {
  color: #4D4D4D; 
  font-size: 20px; 
  font-weight: 600; 
}

article {
  width: 270px;
  box-shadow: 3px 4px #cccccc;
}

article:hover {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px; 
  align-content: space-around;
  justify-content: space-between; 
  /*margin-right: 20px;*/
  margin-left: 20px;
}

/* Header portion of profile box */
.profile-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-color: #25d16a; 
  color: #ffffff;
}

.share-icon {
  height: 2rem; 
  width: 2rem;
  margin-top: 10px; 
  margin-left: 8px; 
}

.month-day {
  margin-right: 8px;
}

.show-month {
  font-size: 16px; 
  font-weight: 400; 
  color: #C21734;
  margin-bottom: 0; 
}

.show-date {
  font-size: 2rem; 
  font-weight: 400;
  color: #C21734; 
  margin: 0;
}

.profile-content {
  background-color: #ffffff; 
  padding: 10px; 
}

.profile-image1 {
  background-image: url("images/Dave-Chappelle.jpg");
  background-size: cover;
}

.profile-image2 {
  background-image: url("images/silverman.jpg");
  background-size: cover;}

.profile-image3 {
  background-image: url("images/jerrod.jpg");
  background-size: cover;
}

.profile-image4 {
  background-image: url("images/bill-burr.jpg");
  background-size: cover;
}

.profile-image5 {
  background-image: url("images/wanda.jpg");
  background-size: cover;
}

.profile-image6 {
  background-image: url("images/hannibal.jpg");
  background-size: cover;
}

.profile-image7 {
  background-image: url("images/kevin-hart.jpg");
  background-size: cover;
}

.profile-image8 {
  background-image: url("images/chris-rock.png");
  background-size: cover;
}

/* Profile information */
section {
  display: flex; 
  flex-direction: column; 
  background-color: #ffffff; 
}

.performer {
  font-size: 18px; 
  margin-bottom: 0;
}

.performance-date-time {
  font-size: 12px; 
  font-weight: 100; 
  margin-bottom: 20px;
}

.performer-link {
  height: 2rem; 
  width: 100%;
  margin: 5px auto;
}

.url { 
  color: #919191;
  background-color: #EFEFEF;
  cursor: pointer; 
  font-size: 12px;
  word-wrap: break-word;
  text-decoration: none; 
  padding: 8px;
}

.playlist { 
  margin-bottom: 0; 
}

.specials {
  margin-top: 0; 
}

.total-specials {
  margin-bottom: 0;
}

.specials-count {
  margin-bottom: 0;
  margin-top: 0; 
  font-weight: 400;
  font-size: 2rem;  
}

/* Media Queries */
@media screen and (max-width: 1300px){
  main { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 984px) {
  main { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 636px) {
  main { 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }


}

@media screen and (max-width: 320px) {
  /*main { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }*/
}